# Data Manipulation with pandas
* DataFrames are multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.
* offering a convenient storage interface for labeled data
 * implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.
  * Np kind of limited

In [ ]:
import pandas as pd
import numpy as np

pd.__version__

### Series object

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

In [ ]:
data.values

In [ ]:
data.index

In [ ]:
print(data[1])
print(data[1:3])  #slicing also possible

Series can serve as generalised np array.
Difference is presence of index, for np array it's implicitly defined integer index, while for series it's explicitly defined

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

Series can also be used as dictionaryish, but with array features

In [ ]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

In [ ]:
population['Texas':]

## DataFrame
* improved series allowing for two dimensions

In [ ]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
print(area)

In [ ]:
states_data = pd.DataFrame({'population': population, 'area': area})
states_data

In [ ]:
states_data.index

Number of ways to construct, begin with pd.DataFrame
*` pd.DataFrame(population, columns=['population'])`
* also give it a dictionary of series objects
*

## Data indexing and selection

In [ ]:
## Series as dictionary
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

In [ ]:
'a' in data

In [ ]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

Demonstration of loc and iloc in pandas
* loc - used as a reference to the actual position(explicit index)
* iloc - uses logic of default python (implicit indexing)

In [ ]:

print(data.loc[1])
print(data.loc[1:3])
print(data.iloc[1:3])
print(data.iloc[1])

In [ ]:
#DataFrame
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})
data

In [ ]:
data.loc['California':'New York']

## Operating on data in pandas

Pandas will align indices in the process of performing the operation. This is very convenient when you are working with incomplete data, as weâ€™ll see in some of the examples that follow.

In [ ]:
A = pd.DataFrame([2, 3, 5])
print(A)


## Handling Missing Data

* Masking have boolean strategy to indicate boolean values
* Sentinel value -show missing entry
* Python can use `None` - object
* Numpy uses NaN - floating pt.
* pandas supports both

In [ ]:
null_test = pd.Series([1, np.nan, None, 2])
print(null_test[2].dtype)

In [ ]:
null_test.isnull()

## Hierachical indexing
* Achieved using multiindexing
* slicing stuff needs 2 args
*

In [ ]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000),
         ('Texas', 2010)]

populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

pop = pd.Series(populations, index=index)
index = pd.MultiIndex.from_tuples(index)
index

In [ ]:
pop = pop.reindex(index)
pop

In [ ]:
pop_df = pop.unstack()
pop_df

## Combining datasets (concat, append)

In [ ]:
def make_df(cols, ind):
    """Quick dataframe"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)


make_df('ABC', range(3))

In [ ]:
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])

ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

pd.concat([ser1, ser2])

In [ ]:
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(df1)
print(df2)
print(pd.concat([df1, df2]))

One important difference between np.concatenate and pd.concat is that Pandas concatenation preserves indices, even if the result will have duplicate indices!

### using joins

In [ ]:
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
print(df5);
print(df6);
print(pd.concat([df5, df6])), print(pd.concat([df5, df6], join="inner"))

# ### Combining datasets: Merge and join

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
                    'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
                    'hire_date': [2004, 2008, 2012, 2014]})
print(df1)
print(df2)

In [ ]:
df3 = pd.merge(df1, df2)
df3

In [ ]:
##Many to one joins
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
                    'supervisor': ['Carly', 'Guido', 'Steve']})
print(df3);
print(df4);
print(pd.merge(df3, df4))

In [ ]:
#Many to many joins
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
                              'Engineering', 'Engineering', 'HR', 'HR'],
                    'skills': ['math', 'spreadsheets', 'coding', 'linux',
                               'spreadsheets', 'organization']})
print(df1);
print(df5);
print(pd.merge(df1, df5))

In [ ]:
print(df1);
print(df2);
print(pd.merge(df1, df2, on='employee'))

* Use left_on and right_on
* left_index & right_index

## Aggregation and Grouping
* Planets Data Project

In [ ]:
import seaborn as sns

planets = sns.load_dataset('planets')
planets.shape

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

In [ ]:
print(ser.sum())
print(ser.mean())

In [ ]:
df = pd.DataFrame({'A': rng.rand(5),
                   'B': rng.rand(5)})
df

In [ ]:
print(df.mean())
print(df.mean(axis='columns'))

In [ ]:
planets.dropna().describe()

#### Groupby: Split, Apply, Combine

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data': range(6)}, columns=['key', 'data'])
df

In [ ]:
df.groupby('key').sum()

In [ ]:
planets.groupby('method')['orbital_period'].median()

###### Aggregate, filter, transform, apply

In [ ]:
rng = np.random.RandomState(6)
df = pd.DataFrame({
    'key': ['A', 'B', 'C', 'A', 'B', 'C'],
    'data1': range(6),
    'data2': rng.randint(0, 10, 6)
}, columns=['key', 'data1', 'data2'])
df

In [ ]:
df.groupby('key').aggregate(['min', np.median, 'max'])

In [ ]:
def filter_func(x):
    return x['data2'].std() > 4


print(df);
print(df.groupby('key').std());
print(df.groupby('key').filter(filter_func))

## Pivot Tables

In [ ]:
titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
titanic.groupby('sex')[['survived']].mean()

In [ ]:
titanic.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()

In [ ]:
titanic.pivot_table('survived', index='sex', columns='class')

In [ ]:
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', age], 'class')

## Vectorised string operations
* Manipulation of string data

In [ ]:
import numpy as np

x = np.array([2, 3, 5, 7, 11, 13])
x * 2

In [ ]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

In [ ]:
names = pd.Series(data)
names.str.capitalize()

## Working with time series
* Financial data is `timestamps`, `time intervals and periods`, `deltas`.

### Dates & Times in normal Python

In [ ]:
from datetime import datetime
datetime(year=2015, month=7, day=4)

In [ ]:
## numpy with dates
date = np.array('2022-04-15', dtype=np.datetime64)
date

In [ ]:
date + np.arange(12)

In [ ]:
np.datetime64('2022-12-23 08:00')

In [ ]:
date = pd.to_datetime("15th April,2022")
date

### pandas time series

In [ ]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04', '2015-07-04', '2015-08-04'])
data = pd.Series([0,1,2,3], index=index)
data

* Timestamp - Timestamp
* periods - Period
* deltas - Timedelta

In [217]:
dates = pd.to_datetime([datetime(2022,4,15), "29th July, 2000",'2015-Jul-6', '07-07-2015', '20150708'])
dates

DatetimeIndex(['2022-04-15', '2000-07-29', '2015-07-06', '2015-07-07',
               '2015-07-08'],
              dtype='datetime64[ns]', freq=None)

In [218]:
dates.to_period('D')

PeriodIndex(['2022-04-15', '2000-07-29', '2015-07-06', '2015-07-07',
             '2015-07-08'],
            dtype='period[D]')

In [219]:
pd.date_range('2022-04-01',periods=8, freq = 'H')

DatetimeIndex(['2022-04-01 00:00:00', '2022-04-01 01:00:00',
               '2022-04-01 02:00:00', '2022-04-01 03:00:00',
               '2022-04-01 04:00:00', '2022-04-01 05:00:00',
               '2022-04-01 06:00:00', '2022-04-01 07:00:00'],
              dtype='datetime64[ns]', freq='H')

### Resampling, reshifting, windowing

In [ ]:
from pandas_datareader import data