# Data Manipulation with pandas
* DataFrames are multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data.
* offering a convenient storage interface for labeled data
 * implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.
  * Np kind of limited

In [3]:
import pandas as pd
import numpy as np

pd.__version__

'1.5.2'

### Series object

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
print(data[1])
print(data[1:3])  #slicing also possible

0.5
1    0.50
2    0.75
dtype: float64

Series can serve as generalised np array.
Difference is presence of index, for np array it's implicitly defined integer index, while for series it's explicitly defined

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

Series can also be used as dictionaryish, but with array features

In [9]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}

population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [10]:
population['Texas':]

Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135
dtype: int64

## DataFrame
* improved series allowing for two dimensions

In [11]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}

area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [12]:
states_data = pd.DataFrame({'population': population, 'area': area})
states_data

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [13]:
states_data.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Number of ways to construct, begin with pd.DataFrame
*` pd.DataFrame(population, columns=['population'])`
* also give it a dictionary of series objects
*

## Data indexing and selection

In [14]:
## Series as dictionary
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [15]:
'a' in data

True

In [16]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

Demonstration of loc and iloc in pandas
* loc - used as a reference to the actual position(explicit index)
* iloc - uses logic of default python (implicit indexing)

In [17]:

print(data.loc[1])
print(data.loc[1:3])
print(data.iloc[1:3])
print(data.iloc[1])

a
1    a
3    b
dtype: object
3    b
5    c
dtype: object
b

In [18]:
#DataFrame
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area': area, 'pop': pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [19]:
data.loc['California':'New York']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

## Operating on data in pandas

Pandas will align indices in the process of performing the operation. This is very convenient when you are working with incomplete data, as weâ€™ll see in some of the examples that follow.

In [22]:
A = pd.DataFrame([2, 3, 5])
print(A)

   0
0  2
1  3
2  5


## Handling Missing Data

* Masking have boolean strategy to indicate boolean values
* Sentinel value -show missing entry
* Python can use `None` - object
* Numpy uses NaN - floating pt.
* pandas supports both

In [24]:
null_test = pd.Series([1, np.nan, None, 2])
print(null_test[2].dtype)

float64

In [25]:
null_test.isnull()

0    False
1     True
2     True
3    False
dtype: bool

## Hierachical indexing
* Achieved using multiindexing
* slicing stuff needs 2 args
*

In [28]:
index = [('California', 2000), ('California', 2010), ('New York', 2000), ('New York', 2010), ('Texas', 2000),
         ('Texas', 2010)]

populations = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

pop = pd.Series(populations, index=index)
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [29]:
pop = pop.reindex(index)
pop

California  2000    33871648
            2010    37253956
New York    2000    18976457
            2010    19378102
Texas       2000    20851820
            2010    25145561
dtype: int64

In [31]:
pop_df = pop.unstack()
pop_df

                2000      2010
California  33871648  37253956
New York    18976457  19378102
Texas       20851820  25145561

## Combining datasets (concat, append)

In [1]:
def make_df(cols, ind):
    """Quick dataframe"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

make_df('ABC', range(3))

NameError: name 'pd' is not defined